.About {
  display: flex;
  padding: 5vh 0vw 5vh 5vw;
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  font-family: "dosis", sans-serif;
  margin: 0px;
  transition: 0.5s;
}

.About:hover{
  background-color: rgb(226, 241, 255);
}

Section p,h1{
  margin: 5px;
}

.About-image{
  display: flex;
  width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.About-content{
  font-size: 20px;
  padding: 0vh 5vw;
  text-align: left;
}

.Section-2 {
  display: flex;
  padding: 5vh 5vw 5vh 0vw;
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  font-family: "dosis", sans-serif;
  transition: 0.5s;
}

.Section-2:hover{
  background-color: rgb(226, 241, 255);
}


.Section-2-image{
  display: flex;
  width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.Section-2-content{
  font-size: 20px;
  padding: 0vh 5vw;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .About {
    flex-direction: column;
    padding: 5vh 0vw 5vh 0vw;
  }

  
  .Section-2 {
    flex-direction: column-reverse;
    padding: 5vh 0vw 5vh 0vw;
  }
  

}
