
.Footer-logo {
  height: 150px;
  width: 150px;
}

.Footer-contact {
  display: flex;
  margin: 5px 0;
  justify-content: space-evenly;
  padding: 0 20px;
}

.Footer-hr{
  margin: 10px;
}

.contianer{
  display: flex;
}
