.Footer{
  padding: 20px 20px;
  background-color: rgb(242, 240, 240);
  font-family: "dosis", sans-serif;
}

.Footer-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.Footer-logo {
  height: 150px;
  width: 150px;
}

.Footer-logo-bits{
  height: 200px;
  width: auto;
}

.Footer-contact {
  display: flex;
  margin: 5px 0;
  justify-content: space-evenly;
  padding: 0 20px;
}

.Footer-hr{
  margin: 10px;
}

.Footer-h2{
  margin: 10px;
  color: rgb(32, 30, 114);
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 5vh 0vw 5vh 0vw;
  }
  
  .Footer-logos {
    padding: 0 20px;
  }
  
  .Footer-contact {
    padding: 0 20px;
  }
  
  .Footer-logo {
    height: 150px;
    width: 150px;
  }
  
  .Footer-logo-bits {
    height: 180px;
    width: auto;
  }
  
  .Footer-h2 {
    display: none;
  }
  
  .Footer-hr {
    margin: 5px;
  }
  
}

