.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.Navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1.4em;
  padding-right: 10px;
}

.Navbar-links li a {
  color: black;
  text-decoration: none;
}

.Crens{
  width: 150px;
  height: auto;
  padding-left: 15px;
}
