.Navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.Navbar-links li a {
  color: white;
  text-decoration: none;
}

.Navbar-logo {
  font-size: 1.5em;
}
