.Objectives {
    display: flex;
    padding: 5vh 0vw 5vh 5vw;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    font-family: "dosis", sans-serif;
    transition: 0.5s;
  }
  
  .Objectives:hover{
    background-color: rgb(226, 241, 255);
  }
  
  Section p,h1{
    margin: 5px;
  }
  
  .Objectives-image{
    display: flex;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .Objectives-content{
    font-size: 20px;
    padding: 0vh 5vw;
    text-align: left;
  }