.Research {
    display: flex;
    padding: 5vh 0vw 5vh 5vw;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    font-family: "dosis", sans-serif;
    transition: 0.5s;
  }
  
  .Research:hover{
    background-color: rgb(226, 241, 255);
  }
  
  Section p,h1{
    margin: 5px;
  }
  
  .Research-image{
    display: flex;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .Research-content{
    font-size: 20px;
    padding: 0vh 5vw;
    text-align: left;
  }

  @media  screen and (max-width: 768px) {
    .Research {
      flex-direction: column;
      padding: 5vh 0vw 5vh 0vw;
    }
    
    .Research-content {
      font-size: 15px;
    }
    
    .Research-image {
      width: 300px;
    }
  }
  