.Section-2 {
    display: flex;
    padding: 5vh 5vw 5vh 0vw;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    font-family: "dosis", sans-serif;
    margin: 5vh 10vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
  }

  .Section-2:hover{
    background-color: rgb(226, 241, 255);
  }

  Section p,h1{
    margin: 5px;
  }
  
  .Section-2-image{
    display: flex;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .Section-2-content{
    font-size: 20px;
    padding: 0vh 5vw;
    text-align: left;
  }