.Training{
    background-color: aliceblue;
    font-family: "dosis", sans-serif;
    padding: 10vh 10vw;
    font-size: 20px;
    transition: 0.5s;
}

.Training:hover{
    background-color: rgb(226, 241, 255);
}

.Training-content{
    text-align: left;
}

ul{
    margin: 0px;
}

.Training-technologies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 5vh 5vw;
    justify-content: center;
    font-family: "dosis", sans-serif;
}

.Training-technology-item{
    padding: 10px 0px;
}

@media screen and (max-width: 768px) {
    .Training {
      flex-direction: column;
      padding: 5vh 0vw 5vh 0vw;
    }
    
    .Training-content {
      font-size: 15px;
    }
    
    .Training-technologies-grid {
      grid-template-columns: 1fr 1fr;
    } 
}