.Training{
    background-color: aliceblue;
    font-family: "dosis", sans-serif;
    padding: 10vh 10vw;
    font-size: 20px;
    transition: 0.5s;
}

.Training:hover{
    background-color: rgb(226, 241, 255);
}

.Training-content{
    text-align: left;
}

ul{
    margin: 0px;
}

.Training-technologies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 1rem;
    padding: 5vh 5vw;
    justify-content: center;
    font-family: "dosis", sans-serif;
}

.Training-technology-item{
    padding: 10px 0px;
}