.App {
  text-align: center;
  background-color: rgb(255, 255, 252);
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-image {
  width: 100%;
  max-width: 100px;
  height: auto;
}

html{
  margin-top: 80px;
}

