@media screen and (max-width: 1200px) {
  .App {
    min-width: 1200px;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-image {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.Navbar,
.Footer,
.Button,
.Section {
  margin: 20px;
}

