@media screen and (max-width: 768px) {
  .Section{
    flex-direction: column;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-image {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.Navbar,
.Footer{
  margin: 10px;
}

